@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One&family=Inter:wght@400;500;600;700&family=League+Spartan:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #FFFDF8;
  color: #123B5D;
}
